{% extends "layout.html" %}
{% block body_content %}
	<p>Log in to your account</p>
	<div class="form">
		<form method="POST" action="">
			{{ form.hidden_tag() }}
			<div class="form-group">
				{% for field in login_fields %}
					{{ field.label }}
					{% if field.errors %}
						{{ field }}
						<div class="error">
							{% for error in field.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ field }}
					{% endif %}
					<br>
				{% endfor %}
			</div>
			<div class="form-group">
				{{ form.submit }}
			</div>
		</form>
	</div>
{% endblock body_content %}
